<!DOCTYPE html>
<html>
  <head>
    <title>OwnReality Portal</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>

    <%= render :partial => "layouts/templates" %>
  </head>
  <body ng-controller="root_controller" ng-view="true" ng-keyup="shortcut($event)">
    <%= yield %>
  </body>
</html>
